* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: var(--background-color);
    height: 100vh;
    width: 100vw;
}
a{
    text-decoration: none;
}
:root{
    --background-color: rgb(255, 72, 0);
    --background-color-nav: rgb(149, 149, 149);
    --color-white: rgb(255,255,255);
    --color-grey: rgb(58, 58, 58);

    --shadown: rgb(75, 75, 75);
}
/* NAV HAMBUGUER*/


/* .header {
    padding-inline: 16px;
  } */
  
  .nav {
    width: 100vw;
    height: 70px;
    padding: 0 1rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color-nav);
  }
  
  .logo {
    font-family: "Sankofa Display", sans-serif;
    letter-spacing: 1rem;
    font-weight: 900;
    font-size: 48px;
    color: var(--color-white);
  }
  
  .nav-list {
    display: flex;
    gap: 32px;
    padding-right: 2rem;
    list-style: none;
  }
  
  .nav-list a {
    font-size: 18px;
    color: #fff;
    padding-block: 16px;
  }

  .hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
  }
  
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: var(--color-white);
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
  }

/* SECTION ABOUT */

.container{
    height: auto;
    width: 100%;
    padding: 1rem 10rem;
    border-bottom: .1rem solid var(--color-grey);
}
.about{
    height: 40rem;
}
.container-about{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.txt{
    width: 50%; 
}
h1{
  font-family: "Sankofa Display", sans-serif;
  font-size: 4rem;
  letter-spacing: 5px;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--color-white);
}
.paragraph{
    font-size: 1rem;
    line-height: 30px;
    text-align: center;
    color: var(--color-grey);
}
.skills{
  color: var(--color-white);
}
.photo{
    width: 300px;
    border-radius: 500px;
    border: .6px solid var(--shadown);
    box-shadow: 6px 6px 20px 1px var(--shadown);
}

/* SECTION PROJECT */
.subtitle{
  font-family: "Sankofa Display", sans-serif;
  color: var(--color-white);
  font-size: 4rem;
  letter-spacing: 5px;
  margin-bottom: 2rem;
    text-align: center;
}
.container-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.card{
    height: 15rem; /* Set the desired height */
    width: 25rem; /* Set the desired width */
    border: none;
    overflow: hidden; /* Ensures content doesn't overflow */
    display: flex;
    justify-content: center;
    align-items: center;
}
.proj{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* SKILL */
.container-skill{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.skill{
    height: 10rem;
    width: 10rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
}
.logo-skill{
    width: 10rem;
}
.logo-skill:hover{
    transform: scale(1.1);
}

#contact{
  background-color: var(--color-white);
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title{
  padding-right: .4rem;
  color: var(--background-color);
}
/* Popup styles */

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup.hidden {
    display: none;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}

.popup-content img {
    max-width: 100%;
    height: auto;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 750px) {
    .hamburger {
      display: block;
      z-index: 1;
    }
  
    .nav-list {
      position: fixed;
      top: 0;
      left: 0;
      padding: 0 10px;
      width: 100vw;
      height: 100vh;
      background: var(--background-color);
      clip-path: circle(100px at 90% -15%);
      transition: 1s ease-out;
  
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 0;
  
      pointer-events: none;
    }
  
    .nav-list a {
      font-size: 24px;
      opacity: 0;
    }
  
    .nav-list li:nth-child(1) a {
      transition: 0.5s 0.2s;
    }
  
    .nav-list li:nth-child(2) a {
      transition: 0.5s 0.4s;
    }
  
    .nav-list li:nth-child(3) a {
      transition: 0.5s 0.6s;
    }
    .nav-list li:nth-child(4) a {
        transition: 0.5s 0.8s;
      }
  
    /* Estilos ativos */
  
    .nav.active .nav-list {
      clip-path: circle(1500px at 90% -15%);
      pointer-events: all;
    }
  
    .nav.active .nav-list a {
      opacity: 1;
    }
  
    .nav.active .hamburger {
      position: fixed;
      top: 26px;
      right: 16px;
      border-top-color: transparent;
    }
  
    .nav.active .hamburger::before {
      transform: rotate(135deg);
    }
  
    .nav.active .hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }

    .container{
      height: auto;
        padding: 1rem .5rem;
    }
    .container-about{
      display: flex;
      flex-direction: column;
    }
    .txt{
        width: 90%;
    }
    h1{
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    .img{
      margin-top: 2rem;
    }
    .photo{
      width: 200px;
    }
  }